PlayerStatus {
    position: absolute;
    flex-direction: row;
    top: 50%;
    left: 50%;
    opacity: 0;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;

    .playerInfo {
        right: 125px;
        color: white;
    }

    .playerCash {
        right: 50px;
        color: white;
    }

    &.playerHover {
        opacity: 1;
    }
}
