status {
    position: absolute;
    bottom: 50px;
    width: 100%;

    flex-direction: row;

    .cashPnl {
        height: 62px;
        padding: 0px 32px;
        align-items: center;
        justify-content: center;
        min-width: 5%;
        background-color: #49C9EA;

        .text {
            font-family: Poppins;
            font-size: 32px;
            font-weight: bold;
            font-style: italic;
            color: black;
        }
    }


    .expPnl {
        position: absolute;
        height: 62px;
        padding: 0px 32px;
        align-items: center;
        justify-content: center;
        min-width: 5%;
        background-color: #49C9EA;
        right: 0px;

        .text {
            font-family: Poppins;
            font-size: 32px;
            font-weight: bold;
            font-style: italic;
            color: black;
        }
    }
}
