StatusGame {
    width: 100%;
    align-items: center;
    flex-direction: column;
}


GameInfoPanel {
    &.activeGame {
        .timer, .rounds {
            margin-top: 0px;
        }
    }

    &.debugOpen {
        opacity: 0;
    }

    flex-direction: column;


    .waveText {
        color: white;
        font-size: 18%;
        font-family: Poppins;
        font-weight: bold;
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
        margin-left: 12px;
    }

    .timer, .rounds {
        transition: margin-top 1s ease;
        margin-top: -150px;
        padding-top: 16px;

        .text {
            color: white;
            font-size: 32%;
            font-family: Poppins;
            font-weight: bold;
            text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
            padding: 0px 12px;
        }
    }

    .timer {
        text-align: center;
        justify-content: center;
        min-width: 5%;
        //background-color: #208EAB;
        //border-bottom: 2px solid #1895B7;
        //border-left: 2px solid #1895B7;
    }

    .extraText {
        padding: 2px;
        //background-color: #208EAB;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        justify-content: center;

        label {
            text-align: center;
            color: white;
            font-size: 18px;
            font-family: Poppins;
            font-weight: bold;
            text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
        }
        //border-bottom: 2px solid #1895B7;
        //border-left: 2px solid #1895B7;
        //border-right: 2px solid #1895B7;
    }

    .rounds {
        min-width: 120px;
        justify-content: center;
        align-items: center;
        //background-color: #1D788F;
        //border-bottom: 2px solid #15829E;
        //border-right: 2px solid #15829E;


        &.hide {
            display: none;
        }
    }
}
GameStatsPanel {
    position: absolute;
    padding-top: 6px;
    flex-direction: column;

    .timer {
        color: white;
        font-family: Poppins;
        font-size: 24%;
        font-weight: 800;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
        margin: -0.6% 24px;
        text-align: center;
        min-width: 100px;
    }

    .BlueHealthBar, .RedHealthBar {
        &.hide {
            opacity: 0;
        }

        .bar {
            width: 55%;
            align-items: center;
            Label {
                color: white;
                font-size: 16px;
                font-family: Roboto;
                font-weight: bold;
                position: center;
            }
        }

        width: 500px;
        background-color: orange;
        min-height: 4px;
        flex-direction: row;
    }

    .BlueHealthBar {
        background-color: #072D70;

        .bar {
            background-color: #0847B4;
            height: 100%;
        }
    }

    .RedHealthBar {
        background-color: #700707;
        justify-content: flex-end;

        .bar {
            background-color: #B40808;
            height: 100%;
            justify-content: flex-end;
        }
    }

    .GameInfo {
        padding-top: 8px;
        justify-content: center;
        align-items: center;
    }

    ExtraGameInfo {
        &.hide {
            display: none;
        }

        .ExtraInfo {
            justify-content: center;
            align-items: center;
        }

        .BigText {
            color: white;
            font-size: 32%;
            font-family: Roboto;
            font-weight: bold;
            text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
            padding: 0px 12px;
        }

        .SmallText {
            color: white;
            font-size: 18%;
            font-family: Poppins;
            font-weight: bold;
            text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
            margin-left: 12px;
        }
    }

    .extratxt {
        text-align: center;
        color: white;
        font-size: 22%;
        font-family: Poppins;
        font-weight: bold;
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    }
}
