status {
    position: absolute;
    bottom: 0px;
    width: 500px;
    height: 99px;
    background-image: url(ui/hud_cash.png);
    background-repeat: no-repeat;
    background-size: contain;

    .text {
        font-family: Poppins;
        font-size: 42px;
        font-weight: 200;
        color: black;
        left: 75px;
        top: 30px;
    }
}
