status {
    position: absolute;
    bottom: 25px;
    width: 100%;
    flex-direction: row;
    opacity: 1;

    &.debugOpen {
        opacity: 0;
    }

    .cashPnl {
        height: 25%;
        width: 25%;
        left: 37.40%;
        bottom: 75px;
        padding: 0px 32px;
        align-items: center;
        justify-content: center;
        min-width: 5%;

        .text {
            font-family: Poppins;
            font-size: 45px;
            font-weight: 500;
            color: rgb(48, 189, 115);
            text-shadow: 2px 2px 6px rgb(0, 96, 61);
        }
    }

    /* .cashPnl {
        justify-content: center;
        min-width: 5%;
    }*/

    .expPnl {
        position: absolute;
        justify-content: center;

        min-width: 10%;
        right: 0px;
        top: 50px;
        height: 5%;

        padding: 0px 32px;
        align-items: center;
        justify-content: center;
        min-width: 5%;

        font-family: Roboto;
        font-size: 32px;
        font-weight: bold;
        color: rgb(139, 251, 255);

        text-stroke: 5px rgb(0, 154, 255);
    }
}
