towermenu {
    position: absolute;
    left: 2.5%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;

    .mainPnl {
        opacity: 0;
        width: 512px;
        background-color: rgb(0, 125, 205);
        flex-direction: column;
        padding: 12px;

        .towerName {
            font-size: 38px;
            color: white;
            font-weight: bold;
        }

        .towerDesc {
            font-size: 32px;
            color: white;
            margin-top: 8px;
        }

        .towerCost {
            font-size: 32px;
            color: white;
            margin-top: 20px;
        }

        .towerOwner {
            //position: absolute;
            font-size: 32px;
            color: white;
            margin-top: 10px;
        }

        &.showMenu {
            opacity: 1;
        }
    }
}
