towermenu {
    position: absolute;
    left: 2.5%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;


    .inputPnl {
        .inputsPnl {
        }
        border: 4px solid rgba(0,0,0,0.4);
        background-color: rgba(0,0,0,0.4);
        top: 0%;
        right: 0%;
        display: none;
        opacity: 0;
        flex-direction: column;
        padding-bottom: 12px;

        .mousePnl {
            margin: 12px;
            flex-direction: row;
            color: black;

            .text {
                font-size: 24px;
            }
        }

        .text {
            color: white;
            font-family: Arial;
            font-size: 22px;
            padding: 0px 0px 0px 12px;
        }

        .primMouse, .secondMouse {
            width: 32px;
            height: 32px;
        }

        &.showInputs {
            display: flex;
            opacity: 1;
        }
    }

    .mainPnl {
        opacity: 0;
        width: 512px;
        background-color: rgb(0, 125, 205);
        flex-direction: column;
        padding: 12px;
        border: 4px solid black;

        .towerName {
            font-size: 38px;
            color: white;
            font-weight: bold;
            text-align: center;
        }

        .towerDesc {
            font-size: 24px;
            color: white;
            margin-top: 8px;
        }

        .towerCost {
            font-size: 28px;
            color: white;
            margin-top: 20px;
        }

        .towerOwner {
            font-size: 32px;
            color: white;
            margin-top: 10px;
        }

        .towerNextUpg {
            font-size: 24px;
            color: white;
            margin-top: 10px;
        }

        .towerStats {
            font-size: 24px;
            color: white;
            margin-top: 10px;
        }

        &.showMenu {
            opacity: 1;
        }
    }
}
